* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	background-color: #23272a;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #ffffff;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #7289da;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #99aab5;
	line-height: 5px;
}

p, label {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #99aab5;
	line-height: 24px;
	font-weight: 400;
}

strong {
	font-size: 16px;
	color: #99aab5;
	line-height: 24px;
}

a {
	font-size: 14px;
	color: #7289da;
	line-height: 17px;
}

.padding-top {
	padding-top: 30px;
}

.padding-bottom {
	padding-bottom: 30px;
}

.margin-right {
	margin-right: 30px;
}

.margin-bottom {
	margin-bottom: 30px;
}

.padding-none {
	padding: 0;
}

.btn {
	padding: 8px;
	margin: 0;
	border-color: #84f2b3;
	border-width: 2px;
	color: #84f2b3;
	background: #2c2f33;
}

.btn i {
	margin: 3px;
}

.btn:hover {
	border-color: #76dba2;
}

.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}

.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.glyphicon {
	margin-right: 10px;
}

.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}

.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}

.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #99aab5;
	font-weight: 400;
}

.divider {
	height: 2px;
}

.divider.purple {
	background-color: #7289da;
}

.divider.green {
	background-color: #84f2b3;
}

.banner {
	height: 160px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.banner > div {
	height: max-content;
}

.category-list {
	border-radius: 5px;
	border-left: 3px solid #7289da;
	background-color: #2c2f33;
	padding: 5px 15px;
	transition: .2s;
}

.category-list:hover {
	/* background-color: #7289da; */
	border-left: 10px solid #7289da;
}

.category-list h3 {
	margin: 10px;
}

.category-item {
	background: #2c2f33;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
	border-left: 3px solid #7289da;
}

.item-price {
	font-weight: 700;
}

.creator {
	text-align: center;
	float: right;
}

.creator img {
	width: 100px;
	border-radius: 50%;
}

.creator figcaption {
	font-size: 14px;
	color: #99aab5;
	font-weight: 400;
	margin-top: -20px;
}

.flash {
	background-color: #7289da;
	width: 100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

.flash li strong {
	color: #fff !important;
}

input, textarea {
	background-color: #2c2f33 !important;
	color: #99aab5 !important;
	border: 1px solid #99aab5 !important;
}

.creator figcaption {
	margin-top: 8px;
}